/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS declarations go here */
html {
    height: 100%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: mintcream;
}

.main-container{
    width: 95%;
    min-height: 95%;
    height: 95%;

    margin: 0;
    margin: 2.5%;

    background-color: #5cb85c;
    -webkit-box-shadow: 2px 0px 56px 2px rgba(61,95,107,1);
    -moz-box-shadow: 2px 0px 56px 2px rgba(61,95,107,1);
    box-shadow: 2px 0px 56px 2px rgba(61,95,107,1);
}

.main-header,
.main-footer{
    background-color: #28a4c9;
    width: 100%;
    min-height: 60px;
    background-image: url("textures/batthern.png");
    background-repeat: repeat-x;
}

.main-header .row{
    margin: 0;
    padding: 0;
}

.main-content{
    height: calc(100% - 120px);
    width: 100%;
    background-color: lightgrey;
}

.main-footer{
    height: 60px;
    position: relative;
    bottom: 0;
}

.appicon{
    height: 60px;
    width: 100%;
}

.appicon img{
    /*height: 100%;*/
    width: auto;
}

.appname{
    height: 100%;
}

.appname p{
    font-family: fantasy;
    font-size: 2em;
    color: azure;
    padding-top: 0.45em;
}

.footer-icon{
    height: 100%;
}

.footer-icon a{
    height: auto;
    width: auto;
    align-content: center;
    align-self: center;
}

.footer-icon a img{
    height: calc(100% + 10px);
    margin-top: -10px;
    width: auto;
}

.footer-icon a:hover{
    cursor: hand;
}