.createscreen-container{
    height: 100%;
    margin: 0;
    padding: 0;
}

.createscreen-heading{
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: dimgrey;
    background-image: url("textures/concrete2.png");
    background-repeat: repeat-x;
}

.createscreen-heading p{
    font-family: fantasy;
    padding-top: 0.3em;
    font-size: 2em;
    color: whitesmoke;
    position: relative;
    left: 42%;
}

.createscreen-content{
    padding: 0;
    margin: 0;
    height: calc(100% - 50px);
    overflow: auto;
}

.createscreen-content div{
    padding: 0;
}

.createscreen-dragtools{
    margin: 1%;
    width: 20%;
    min-height: 46%;
    float:left;
    height: 46%;
    background-color: #d4d4d4;
    -webkit-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
}

.createscreen-drawarea{
    /*position: relative;*/
    /*top: -47%;*/
    /*left: 22%;*/
    float:right;
    margin: 1%;
    width: 76%;
    min-height: 95%;
    height: 95%;
    background-color:  #d4d4d4;
    -webkit-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
}

.createscreen-configwindow{
    /*position: relative;*/
    /*left: 0;*/
    float:left;
    top: 47%;
    margin: 1%;
    width: 20%;
    min-height: 46%;
    height: 46%;
    background-color:  #d4d4d4;
    -webkit-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 5px rgba(26,47,54,1);
}

.createscreen-sidepanel-header{
    width: 100%;
    background-color: #5e5e5e;
    background-image: url("textures/batthern.png");
    background-repeat: repeat-x;
    height: 40px;
}

.createscreen-sidepanel-header p{
    font-family: Magneto;
    font-size: 1.5em;
    padding-top: 8px;
    color: whitesmoke;
    text-align: center;
}

.createscreen-sidepanel-content{
    width: 100%;
    min-height: calc(100% - 40px);
}

.createscreen-confsidepanel-content{
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
}

.createscreen-confsidepanel-footer{
    width: 100%;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: lightgrey;
}

.createscreen-drawarea-board{
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    overflow: auto;
}

.createscreen-drawarea-board-hover{
    -webkit-box-shadow: 0px 1px 10px 4px rgba(35,138,173,1);
    -moz-box-shadow: 0px 1px 10px 4px rgba(35,138,173,1);
    box-shadow: 0px 1px 10px 4px rgba(35,138,173,1);
}

.createscreen-drawarea-board-active{
    -webkit-box-shadow: 0px 1px 10px -200px rgba(35,138,173,1);
    -moz-box-shadow: 0px 1px 10px -200px rgba(35,138,173,1);
    box-shadow: 0px 1px 10px -200px rgba(35,138,173,1);
}

.createscreen-dragtools-list div{
    /*width: calc(100% - 16px);*/
    min-height: 40px;

    margin: 0;
    padding: 0;

    margin-bottom: 8px;
    margin-top: 8px;

    margin-left: 8px;
    margin-right: 8px;
}

.createscreen-dragtools-element-bg{
    background-color: dimgrey;

    -webkit-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
}

.createscreen-board-activeelement{
    -webkit-box-shadow: 0px 1px 0px 6px rgba(35,138,173,1);
    -moz-box-shadow: 0px 1px 0px 6px rgba(35,138,173,1);
    box-shadow: 0px 1px 0px 6px rgba(35,138,173,1);
}

.createscreen-confsidepanel-content .form-group{
    height: auto;
    min-height: 40px;

    margin: 0;

    padding-bottom: 8px;
    padding-top: 8px;

    margin-bottom: 8px;
    margin-top: 8px;

    margin-left: 8px;
    margin-right: 8px;
    overflow: hidden;
    background-color: dimgrey;
    -webkit-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
}

.createscreen-config-labelinputbox,
.createscreen-config-labeltext{
    width: 100%;
    height: auto;
}

.createscreen-config-labeltext p{
    width: 90%;
    margin-left: 5%;
    text-align: start;
    color: whitesmoke;
    font-family: "Lucida Console";
    font-size: 1.2em;
    margin-bottom: 5px;
}

.createscreen-config-labelinputbox input{
    width: 90%;
    margin-left: 5%;
    text-align: start;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.2em;
}

.createscreen-confsidepanel-content .createscreen-csdropdown{
    padding: 10px;

    margin-bottom: 8px;
    margin-top: 8px;

    margin-left: 5%;
    width: 90%;

    height: auto;
    min-height: 40px;

    background-color: dimgrey;
    -webkit-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    -moz-box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
    box-shadow: 0px 1px 9px 1px rgba(26,47,54,1);
}

.createscreen-confsidepanel-content .createscreen-csdropdown .btn-group{
    width: 100%;
}

.createscreen-confsidepanel-content .createscreen-csdropdown .btn-group button{
    width: 100% !important;
    text-align: center;
    font-family: "High Tower Text";
    font-size: 1.2em;
}

.createscreen-confsidepanel-footer .btn{
    height: 100%;
    width: 100%;
    text-align: center;
    color: darkgreen;
    font-family: "Lucida Console";
    font-size: 1.2em;
}